*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.hide{
  display: none;
}
.errorMsg{
  font-weight: 500;
  color: rgb(56, 8, 8);
}
.container{
  width:45rem;
  margin:2% auto 5% auto;
}
.container .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px;
  color:#fff;
  border-radius: 7px;
}
.container .head img{
  width: 80px;
}

.room-list{
  padding: 15px 5px;
}
.room{
  list-style: none;
 
}
.room li {
  margin-left: 0;
}
.room li p{
  padding: 3px;
  background:#4e4f50ce;
  margin: 5px 0;
  border-radius: 5px;
  color: #fff;
}